*,
h1,
h2,
h3,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: "Times", "Georgia", serif;
  display: grid;
  height: 100vh;
  grid-gap: 0;
  grid-template-areas:
    "header crtrees"
    "main   crtrees"
    "nav    nav";
  grid-template-columns: 1fr 0;
  grid-template-rows: 0 auto max-content;
  color: rgba(0, 0, 0, 0.7);
}

#creator {
  position: relative;
  left: 1rem;
  bottom: 1.5rem;
  font-family: sans-serif;
  font-size: small;
}

#creator a {
  color: black;
}

@media only screen and (min-width: 500px) {
  body {
    grid-template-areas:
      "header crtrees"
      "main   crtrees"
      "nav    nav";
    grid-template-columns: 1fr auto;
    grid-template-rows: 0 auto max-content;
  }
}

@media only screen and (min-width: 700px) {
  body {
    grid-template-areas:
      "nav header crtrees"
      "nav main   crtrees";
    grid-template-columns: 50px 1fr auto;
    grid-template-rows: 0 1fr;
  }
}

main {
  grid-area: main;
  overflow: hidden;
}

nav,
#crtrees {
  background-color: #eee;
}

h1 {
  font-weight: normal;
}

header {
  grid-area: header;
  text-align: left;
  padding-left: 2vw;
}

@media only screen and (min-width: 700px) {
  header { font-size: 3vw; }
  h1 { font-size: 1.5em; }
}

header > div {
  line-height: 1.5em;
}

nav {
  grid-area: nav;
  display: flex;
  font-size: 40px;
}

@media only screen and (max-width: 699px) {
  nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 700px) {
  nav {
    flex-direction: column;
    padding-top: 1rem;
    width: 50px;
  }
}

div.button {
  display: inline-block;
}

nav div.button {
  height: 40px;
  width: 40px;
  line-height: 0;
  overflow: visible;
  padding: 5px;
}

i.material-icons {
  border-radius: 50%;
  font-size: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 20;
  text-align: center;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
}

div.button > div {
  display: block;
  visibility: hidden;
  position: absolute;
  line-height: normal;
  z-index: 10;
  left: 0;
  bottom: 0;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div.button:hover i.material-icons,
div.button:hover > div {
  background-color: #cecef6;
  visibility: visible;
}

@media only screen and (hover: none) {
  div.button:hover,
  div.button:hover > div {
    background-color: inherit;
    visibility: hidden;
  }
}

#crtrees {
  grid-area: crtrees;
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(auto-fit, 100px);
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (min-width: 924px) {
  #crtrees {
    grid-template-columns: repeat(2, 100px);
  }
}

@media only screen and (min-width: 1024px) {
  #crtrees {
    grid-template-columns: repeat(3, 100px);
  }
}

@media only screen and (min-width: 1124px) {
  #crtrees {
    grid-template-columns: repeat(4, 100px);
  }
}

#crtrees svg {
  box-sizing: border-box;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
}

#crtrees svg.highlight {
  border: 4px solid black;
}

#crtrees svg.nonhighlight {
  filter: grayscale(100%);
}

.treeNode {
  fill: black;
}

.treeEdge {
  fill: none;
  stroke-width: 1.5px;
}

.center-screen {
  height: 99%;
  overflow: hidden;
  width: 100%;
}

circle {
  stroke: none;
}

circle.highlight {
  stroke: black;
  stroke-width: 2px;
}

circle.nonhighlight {
  filter: grayscale(100%);
}

line {
  stroke: #000;
  stroke-width: 2px;
}

line.nonhighlight {
  stroke-opacity: 0.25;
}
